.header-link{
    /* color: rgb(83, 5, 146); */
    text-decoration: none;
    /* margin-right: 20px; */
    /* line-height: 100px; */
}
.loginButtonHdr{
    background-color: yellowgreen;
    border-radius: 5px;
    padding: 5px 10px;
    color: rgb(70, 69, 67);
}
.logOutHdr{
    border-radius: 5px;
    padding: 5px 10px;
    color: crimson;
    background-color: rgba(255, 255, 255, 0.425);
}

.logOutHdr:hover{
    color:whitesmoke ;
    background-color: crimson;
}

.company-name{
    background-color:rgba(2, 2, 68, 0.918);
    color:white;
    /* text-shadow:2px 2px 2px #503932 */
    
    
    line-height: 60px;
    margin-bottom: 0;
   
}
.company-name:hover{
    
    color: rgb(209, 107, 12);
    background-color: rgb(42, 51, 51) ;
    /* text-shadow:3px 3px 3px #503932 */
}
.header-info{
    text-decoration: none;
    color: black;
}
.header-img{
    width: 40px;
    border-radius: 25px;
}
.company-name img {
    width: 70px;
    margin: 2px 10px;
}



body{background-color:rgb(240, 216, 220);}

*{
    border: 0px;
}