.photo-frame{
    /* width: 280px;
    height: 180px; */
    border: 4px solid gold;
    margin: 5px;
    overflow: hidden;
    position: relative;
}
h1,h3{
    text-align: center;
}
.photo-frame img{
    width: 100%;
   

}
.photo-details{
    position: absolute;
    top: 0;
    color: rgb(252, 248, 241);
   
    display: none;
    padding: 10px;
    text-align: justify;
}
.photo-frame:hover .photo-details{
    display: block;
    background-color: rgba(109, 106, 106, 0.39);
}
.photo-details h3{
    /* background-color: black; */
    /* justify-content: center; */
    color: rgb(20, 22, 90);
}
.photo-album{
    /* display: flex; */
    /* flex-wrap: wrap; */
display: grid;
grid-template-columns: repeat(4,1fr);
}

@media only screen and (max-width: 600px) {
    .photo-album{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

.photo-frame:hover .photo{
    transform: scale(1.9);
    transition: transform 2s;
}
/* .ofcRelcocation{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.xyz{
   padding: 20px;
    
}