/* #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  } */
.dashboardItems{
  /* background-color: rgb(9, 13, 104); */
}

  .dashboardOrigin{
  background-image: url(https://i.ibb.co/mXgJ7fy/moving-houses.png);
  padding-top: 50px;
  padding-bottom: 400px;
  background-repeat: no-repeat;
  /* position: absolute;
  left:220px; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  }
  @media only screen and (max-width: 600px){
    .dashboardOrigin{
      position: static;
    }
  }
  
  @media only screen and (min-width: 601px) and (max-width: 768px){
    .dashboardOrigin{
      position: static;
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 820px;
    }
  }